exclude dxf2gcode_images?_rc.py
exclude dxf2gcode_ui?.py
exclude i18n/*.qm
exclude *.py
include COPYING
include README.txt
include dxf2gcode.appdata.xml
include dxf2gcode.desktop
include dxf2gcode_images.qrc
include dxf2gcode.py
include dxf2gcode.ui
include dxf2gcode.pro
include images/*.svg
include images/*.png
include images/*.ico
include images/*.icns
include i18n/*.ts
include make_exe.py
include make_py_uic.py
include make_tr.py
include setup.py
include st-setup.py
